# Build outputs
bin/
obj/
out/
.vs/
.vscode/
*.user
*.suo
*.userprefs

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Secrets (never commit real secrets)
*.pfx
*.p12
*.snk
.env
appsettings.*.Local.json
**/secrets.json

# Node
node_modules/

# Python venvs if any
.venv/

#.sonarqube
.sonarqube